<?xml version='1.0' encoding='utf-8'?>
<widget id="net.tt.boardz" version="0.0.1" xmlns="http://www.w3.org/ns/widgets">
    <name>HelloCordova</name>
    <description>
        A sample Apache Cordova application that responds to the deviceready event.
    </description>
    <author email="dev@cordova.apache.org" href="http://cordova.io">
        Apache Cordova Team
    </author>
    <content src="index.html"/>
    <access origin="*"/>
    <allow-intent href="http://*/*"/>
    <allow-intent href="https://*/*"/>
    <allow-intent href="tel:*"/>
    <allow-intent href="sms:*"/>
    <allow-intent href="mailto:*"/>
    <allow-intent href="geo:*"/>
    <platform name="android">
        <allow-intent href="market:*"/>
    </platform>
    <platform name="ios">
        <allow-intent href="itms:*"/>
        <allow-intent href="itms-apps:*"/>
    </platform>
    <plugin name="cordova-plugin-camera" spec="~2.3.0">
        <variable name="CAMERA_USAGE_DESCRIPTION" value=" "/>
        <variable name="PHOTOLIBRARY_USAGE_DESCRIPTION" value=" "/>
    </plugin>
    <plugin name="cordova-plugin-whitelist" spec="~1.3.0">
        <variable name="CAMERA_USAGE_DESCRIPTION" value=" "/>
        <variable name="PHOTOLIBRARY_USAGE_DESCRIPTION" value=" "/>
    </plugin>
    <plugin name="cordova-plugin-statusbar" spec="~2.2.0">
        <variable name="CAMERA_USAGE_DESCRIPTION" value=" "/>
        <variable name="PHOTOLIBRARY_USAGE_DESCRIPTION" value=" "/>
    </plugin>
    <plugin name="cordova-plugin-splashscreen" spec="~3.2.2">
        <variable name="CAMERA_USAGE_DESCRIPTION" value=" "/>
        <variable name="PHOTOLIBRARY_USAGE_DESCRIPTION" value=" "/>
    </plugin>
    <plugin name="cordova-plugin-crosswalk-webview" spec="~2.1.0">
        <variable name="CAMERA_USAGE_DESCRIPTION" value=" "/>
        <variable name="PHOTOLIBRARY_USAGE_DESCRIPTION" value=" "/>
        <variable name="XWALK_VERSION" value="21+"/>
        <variable name="XWALK_LITEVERSION" value="xwalk_core_library_canary:17+"/>
        <variable name="XWALK_COMMANDLINE" value="--disable-pull-to-refresh-effect"/>
        <variable name="XWALK_MODE" value="embedded"/>
        <variable name="XWALK_MULTIPLEAPK" value="true"/>
    </plugin>
    <plugin name="cordova-plugin-geolocation" spec="~2.3.0">
        <variable name="CAMERA_USAGE_DESCRIPTION" value=" "/>
        <variable name="PHOTOLIBRARY_USAGE_DESCRIPTION" value=" "/>
        <variable name="XWALK_VERSION" value="21+"/>
        <variable name="XWALK_LITEVERSION" value="xwalk_core_library_canary:17+"/>
        <variable name="XWALK_COMMANDLINE" value="--disable-pull-to-refresh-effect"/>
        <variable name="XWALK_MODE" value="embedded"/>
        <variable name="XWALK_MULTIPLEAPK" value="true"/>
    </plugin>
    <engine name="ios" spec="~4.1.1"/>
    <engine name="android" spec="~5.1.1"/>
    <engine name="windows" spec="~4.3.2"/>
    <preference name="StatusBarOverlaysWebView" value="false"/>
    <preference name="StatusBarBackgroundColor" value="#367fa9"/>
    <preference name="StatusBarStyle" value="lightcontent"/>
    <preference name="DisallowOverscroll" value="true"/>
    <preference name="SplashScreen" value="screen"/>
    <preference name="SplashScreenDelay" value="3000"/>
    <preference name="SplashMaintainAspectRatio" value="true"/>
    <preference name="SplashScreenBackgroundColor" value="white"/>
    <preference name="android-minSdkVersion" value="19"/>
    <preference name="android-targetSdkVersion" value="19"/>
    <preference name="xwalkCommandLine" value="--disable-pull-to-refresh-effect"/>
    <preference name="xwalkMode" value="embedded"/>
</widget>
